.col-lg-4 {
    margin: auto;
    margin-top: 3%;
    margin-left: 11%;
}

.barber-description {
    text-align: center;
}

.main-body{
    background-color: #181818;
}

.barbershop-img{
    margin: auto;
    margin-bottom: 4%;
}

.row{
    text-align: center;
    margin: auto;
}

