.col-lg-4 {
    max-width:100%;
    height:auto;
    width: auto;
    margin: auto;
    margin-top: 3%;
}

.barber-description {
    text-align: center;
}

.main-body{
    background-color: #181818;
}

.barbershop-img{
    margin: auto;
    margin-bottom: 4%;
}

.row{
    text-align: center;
    margin: auto;
}

.filter{
    margin-left: 2%;
}

.list-group-item{
    color: #181818;
    width: 50%;
}

.filter-form{
    margin-left: 2%;
    margin-top: 2%;

}

.list-hours{
    margin-top: 2%;
    margin-left: 2%;
}

.filter-title{
    margin-bottom: 1%;
}

.not-found-hours{
    color: #fff500;
}

.appointment-buttons{
    text-align: center;
}

.logo{
    color: white;
}

.thanks-page{
    margin-top: 4%;
}