{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BarberShop Home</title>
</head>
<body>
        {% if llista_barberies %}
            <div class="row">
                {% for barberia in llista_barberies %}
                      <div class="col-lg-4">
                          <div class="barbershop-img">
                            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Ciutat de {{ barberia.ciutat }}</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                                <image href="/apps/barberShopApp/static/media/{{ barberia.image }}" height="100%" width="178%"/>
                            </svg>
                          </div>
                        <h2>{{ barberia.name }}</h2>
                        <p class="barber-description">Barberia de {{ barberia.ciutat }}, que es troba al carrer {{ barberia.carrer }}.</p>
                        <p><a class="btn btn-outline-info" href="/barbershop/{{barberia.pk}}/" role="button">Agafar hora</a></p>
                      </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div>

    {% else %}
    <p>No hi ha barberies.</p>
    {% endif %}
</body>
</html>

{% endblock %}