
{% extends "base.html" %}

{% block page_content %}
<html>
    <body>
         <form method="POST", class="frm-ulari", style="border-style: solid; border-bottom-width: 40px">
            {% csrf_token %}
            <div class="form-group" style="font-family: 'Arial Black'; margin-left: 35%; margin-right: 35%; margin-top: 5%">
                <label>Nom d'usuari: </label>
                <input type="text" class="form-control" placeholder="Nom d'usuari", name="username">
            </div>
            <div class="form-group" style="font-family: 'Arial Black'; margin-left: 35%; margin-right: 35%">
              <label>Contrasenya: </label>
              <input type="password" class="form-control" placeholder="Contrasenya", name="password">

            </div>
                <button type="submit", class="btn btn-primary", style="margin-left: 40%"> Iniciar Sessió</button>
        </form>
        <p style="margin-left: 35%; font-size: 20px">Encara no estas registrat? Fes <a href="/register">click aquí</a> per crear un usuari</p>
    </body>
</html>

{% endblock %}