{% extends 'base.html' %}
{% block page_content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>BarberShop Home</title>
</head>
    <body>
    <h2>Register</h2>
    <form class="main-body", method="post">{% csrf_token %}

        {% for field in registration_form %}
            <p style="color: azure; margin-left: auto">
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: gold;">{{ field.help_text }}</small>

                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red;"><{{ error }}/p>
                {% endfor %}

            </p>
        {% endfor %}
    <button type="submit">Register</button>
    </form>
    </body>

</html>

{% endblock %}