{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cita reservada</title>
</head>
<body>
        <div class="thanks-page text-center">
          <h1 class="display-3">Gràcies per la teva reserva!</h1>
          <p class="lead">El pagament es farà en la mateixa barberia.</p>
          <p class="lead">
              <a class="btn btn-primary btn-sm" href="/" role="button">Continuar a la pàgina inicial</a>
          </p>
        </div>
</body>
</html>

{% endblock %}
